


@media screen and (max-width: 650px ) {
    header { 
        position: relative;
        flex-direction: column;
    }

    nav ul {
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;font-size: 15px;
    }

    header img {
        margin: 0 auto;
    }
    .we-are-clemo,
    .orange-text { grid-template-columns: 10px 1fr 30px; }
    .orange-text h1 { font-size: 2em; }
    .orange-text p { font-size: 1em; }
    
    .we-are-clemo {
        padding-top: 15px;
        margin: 0 10px 40px;
    }

    .wrapper {
        grid-template-columns: 1fr;  
        grid-template-areas: 
            "title"
            "text1"
            "img1"
            "text2"
            "img2"
            "text3"
            "img3" ;
        text-align: center;
        padding: 10px;
}

    .black-white-img {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "span-1" 
            "span-2" 
            "span-3"
            "span-4" 
            "span-5"  
            "span-6"
            "link";
        padding: 10px;
    }

    .team {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "arow-left"
            "face1"
            "face2"
            "face3"
            "arow-right"
            "diamond";
        padding: 20px 0;
    }

    .team i { display:none; }

    .clients {
        padding: 10px;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "name"
            "text"
            "images" 
            "round";
        justify-self: center;
        text-align: center;
    }

    .p-smaller { padding: 0; }
    .client-name {
        justify-self: center;
        text-align: center;
    }

    .empty-img { overflow: hidden;}

    .footer-img {
        grid-gap: 20px;
        grid-template-columns: 20px 1fr;
        grid-template-areas:
            "title title"
            "fa-map-marker address" 
            "fa-mobile-alt phone"
            "fa-envelope our-email"
            "name name" 
            "email1 email1"
            "message message"
            "icons icons" 
            "a a"; 
        padding: 10px;
    }

    .footer-img p {
        font-size: 0.9em;
    }

    input, textarea {
        line-height: 25px;
        font-size: 0.9em;
    }

    textarea { height: 30px; }
    
    #icons {
        padding-left: 0;
        justify-self: center;
    }

    i.fab {
        padding: 0.5em 0.1em;
        margin: 5px;
        width: 30px;
      }

    .card1,
    .card2,
    .card3 {
        padding-left: 0;
        padding-right: 0;
    }

    .section-title {
        font-size: 2em;
        padding: 10px;
    }

    .black-link {
        padding: 8px 15px;
        font-size: 15px;
    }

    .link { margin: 10px; }
}

@media screen and (min-width: 1400px ) {
    .wrapper,    
    .black-white-img,
    .footer-img {
        padding: 150px;
    }

}

@media screen and (max-width: 1150px) {
    .wrapper {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .hidden {
        display: none;
    }
}